/* -------------------------------- 

Primary style

-------------------------------- */
@font-face {
    font-family: AR DESTINE;
    src: url(ARDESTINE.woff);
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
  color: #505260;
  background-color: white;
}

a {
  color: #2f889a;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
input::-ms-clear, textarea::-ms-clear {
  display: none;
}

header[role=converge]{
  position: relative;
  height: 120px;
}

header[role=converge] #main-logo{
	height: 102px;
	width: 400px;
}

.toptitle{
	font-family: AR DESTINE;
	font-size: 120px;
	color: #000000;
	text-align:center;
}

.main-nav {
  margin-top: 10px;
  width: 100%;
  height: 55px;
  cursor: pointer;
  background-color:#000000;
}
.main-nav ul {
  margin-right: 5%;
  top: 0;
  width: 100%;
}

.main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #292a34;
  border-top: 1px solid #3b3d4b;
  color: #FFF;
}
@media only screen and (min-width: 768px) {

  .main-nav li {
  margin-top:10px;
    display: inline-block;
    margin-left: 1em;
  }
  .main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
  }
  .main-nav a.cd-signin, .main-nav a.cd-signup {
    padding: .6em 1em;
    border-radius: 50em;
	background: #8AA6CA;
    border: none;
  }
}

.greeting{
	float:left;
	padding-top:10px;
	padding-left: 80px;
	color:white;
	font-family:Andalus;
	font-size:30px;
}


.buttons{
	margin-left:780px;
	float:left;
}

.one{
margin-left:5%;
width:40%;
height:400px;
float:left;
}

.two{
margin-top:20px;
width:50%;
height: 380px;
float:left;
border-style:solid;
border-color:#000000;
border-width:5px;
border-radius: 1em;
}

.sitename{
	text-align:center;
	font-family:Calibri;
	font-size:50px;
	color: #000000;
	font-style: bolder;
}

.dtitle{
	text-align:left;
	font-family:Calibri;
	font-size:30px;
	color: #000000;
	font-style: bolder;
	padding:5px;
}

.message{
padding:5px;
}

ul{
	list-type: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

.slider{
 margin: 0 auto;
height:250px;
width:400px;	
 border-radius: 1em;
 border-style:solid;
 border-color:#ffffff;
 border-width:2px;
}

.imslide img{
height:250px;
border-radius: 1em;
width:400px;
display:block;
}

.Ask_button{
height:40px;
margin:20px;
}

.writeque {
	width:50%;
}

.qanda{
	margin-top:40px;
	padding-left:6%;
	float:left;
	width:50%;
	border-style:solid;
	border-color:#555555;
}
.qandax{
	margin-top:40px;
	float:left;
	width:50%;
	border-style:solid;
	border-color:#555555;
}

.question,.answer,.queries{
	margin:5px;
}

.x{
	width:1000px;
}

textarea{
border-radius: 1em;
}

.y{
	padding:5px;
	margin-left:70%;
}

.yy{
	padding:5px;
	margin-left:55%;
}

.y input{
border-radius: 1em;
	background: #8AA6CA;
}

.yy input{
border-radius: 1em;
	background: #8AA6CA;
}

.answer{
padding-bottom:10px;
}

.footer-distributed{
	position:absolute;
	background-color: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	top: 1100px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin-left: 1000px;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 30px;
}