/* -------------------------------- 

Primary style

-------------------------------- */

body{
font-size:90%;
}	

#box_1
{
margin-top: 120px;
width:220px;
height:500px;
float:left;
}

#box_2
{
width:1000px;
height:1000px;
position:absolute;
margin-left:240px;
margin-top:-30px;
}
.box
{
width:650px;
height:600px;
margin-top:50px;
margin-left:350px;
text-align:center;
}

.box select,input,textarea{
	width:80%;
}

.search-bar{
margin-left:30%;
	width:40%;
	padding:5%;
}

.search-btn{
margin-top:5px;
	width:40%;
}

#block
{
width: 150px;
height: 170px;
border: 2px solid BLACK;
border-radius:40px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
float: left;
margin-top: 10px;
margin-left:40px;
}


.vr 
{
width:5px;
height:800px;
background-color:GREY;
position:absolute;
margin-top:240px;
top:0;
bottom:0;
left:230px;
}

.footer-distributed{
	position:absolute;
	background-color: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	margin-top: 10px;
	left:0px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin-left: 1000px;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 30px;
}




