/* -------------------------------- 

Primary style

-------------------------------- */
@font-face {
    font-family: AR DESTINE;
    src: url(ARDESTINE.woff);
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toptitle{
	font-family: AR DESTINE;
	font-size: 120px;
	color: #333333;
	text-align:center;
}

body {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
  color: #505260;
  background-color: white;
}

a {
  color: #2f889a;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
input::-ms-clear, textarea::-ms-clear {
  display: none;
}

header[role=converge]{
  position: relative;
  height: 120px;
  background: #FFFFFF;
}

header[role=converge] #main-logo{
	height: 102px;
	width: 400px;
}

#box_1
{
margin-top: 120px;
width:220px;
height:500px;
float:left;
}
#box_2
{
width:900px;
height:1000px;
position:absolute;
margin-left:240px;
margin-top:20px;
}
#block
{
width: 150px;
height: 170px;
border: 2px solid BLACK;
border-radius:40px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
float: left;
margin-top: 10px;
margin-left:40px;
}

.vr 
{
width:5px;
height:800px;
background-color:GREY;
position:absolute;
margin-top:240px;
top:0;
bottom:0;
left:230px;
}

.footer-distributed{
	position:absolute;
	background-color: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	top: 1100px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin-left: 1000px;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 30px;
}

/*About us */
#heading{
	background-color:#eeeeee;
	text-align:"center";
	padding-top:30px;
	margin-top:30px;
	margin-left:0px;
	font-family:"PT Sans", sans-serif;
	font-size:60px;
	width:100%;
	height:20%;
}


#first_line{
	margin-top:50px;
	margin-left:30px;
	font-family:"PT Sans", sans-serif;
	font-size:50px;
}

#second_line{
	margin-left:30px;
	font-family:"PT Sans", sans-serif;
	font-size:20px;
}
div.vision{
	padding-left:10px;
	display:inline;
	background-color:#eeeeee;
	width:50%;
	height:80%;
	margin-top:50px;
	margin-left:0px;
	font-family:"PT Sans", sans-serif;
	font-size:17px;
	float:left;
}
div.corporate{
	padding-left:10px;
	left:50%;
	background-color:#eeeeee;
	margin-top:50px;
	margin-left:0px;
	width:50%;
	height:80%;
	font-family:"PT Sans", sans-serif;
	font-size:17px;
	float:left;
	}
